In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [9]:
cols = ['fLength','fWidth', 'fSize', 'fConc', 'fConcl', 'fAsyn', 'fM3Long', 'fM3Trans', 'fAlpha', 'fDist', 'class']
df = pd.read_csv('./datasets/magic04.data', names=cols)
df.head(3)

,fLength,fWidth,fSize,fConc,fConcl,fAsyn,fM3Long,fM3Trans,fAlpha,fDist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g

In [12]:
df['class'].unique()

array(['g', 'h'], dtype=object)

In [14]:
df["class"] = (df['class'] == 'g').astype(int)
df['class'].unique()

array([1, 0])

In [15]:
df.head(2)

,fLength,fWidth,fSize,fConc,fConcl,fAsyn,fM3Long,fM3Trans,fAlpha,fDist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,1
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,1